@media (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .side-panel {
        display: none;
    }
    .header {
        width: 100vw;
        height: 100vh;
    }
    .biography{
        &__wrapper {
            display: grid;
            grid-template-columns: 400px 500px;
            column-gap: 50px;
        }
        &__skills {
            grid-template-columns: repeat(2, 245px);
            column-gap: 20px;
        }
    }
    .experiance {
        &__wrapper {
            margin: 90px 50px 0 50px;
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            margin-left: 25%;
            transform: translateX(-25%);
        }
        &__progress {
            grid-template-columns: repeat(2,350px);
            margin-left: 25%;
            transform: translateX(-25%);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(4,220px);
            grid-template-rows: repeat(2,220px);
        }
    }
    .price {
        &__wrapper {
            column-gap: 85px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 400px 485px;
            gap: 68px;
        }
        &__input {
            width: 220px;
        }
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0  10px;
    }
    .title {
        font-size: 24px;
        line-height: 36px;
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }
        &_fz16 {
            font-size: 16px;
            line-height: 24px;
        }
        &_fz14 {
            font-size: 14px;
            line-height: 21px;
        }
        &_fz20 {
            line-height: 30px;
        }
    }
    .header {
        background: url(../img/bg.jpg) 60%/cover no-repeat;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .biography {
        &__wrapper {
            grid-template-columns: 300px;
            column-gap: 0;
        }
        &__photo img{
            width: 100%;
            margin-bottom: 46px;
        }
        &__skills {
            grid-template-columns: 260px;
            padding: 20px 0 0 15px;
        }
    }
    .experiance{
        &__wrapper {
            margin: 40px 0 0 0;
            grid-template-columns: 300px;
            row-gap: 40px;
        }
    }
    .skills {
        &__wrapper {
            margin-top: 60px;
            grid-template-columns: 270px;
            column-gap: 0;
            row-gap: 20px;
        }
        &__progress {
            grid-template-columns: 270px;
            column-gap: 0;
        }
    }
    
}
