@media (max-width: 1200px) {
    .container {
        width: 960px;
        border: 1px solid red;
    }
    .side-panel {
        display: none;
    }
    .header {
        width: 100vw;
        height: 100vh;
    }
    .biography{
        &__wrapper {
            display: grid;
            grid-template-columns: 400px 500px;
            column-gap: 50px;
        }
        &__skills {
            grid-template-columns: repeat(2, 245px);
            column-gap: 20px;
        }
    }
    .experiance {
        &__wrapper {
            margin: 90px 50px 0 50px;
            column-gap: 60px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,270px);
            margin-left: 25%;
            transform: translateX(-25%);
        }
        &__progress {
            grid-template-columns: repeat(2,350px);
            margin-left: 25%;
            transform: translateX(-25%);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(4,220px);
            grid-template-rows: repeat(2,220px);
        }
    }
    .price {
        &__wrapper {
            column-gap: 85px;
        }
    }
    .footer {
        &__wrapper {
            grid-template-columns: 400px 485px;
            gap: 68px;
        }
        &__input {
            width: 220px;
        }
    }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 575px) {

}
